<h1>Add a tender</h1>
<form method="POST" action="/tenders/add">
  <input
    type="text"
    name="name"
    id="tender_name"
    placeholder="object of tender"
    required
  />
  <input
    type="text"
    name="institution"
    id="tender_institution"
    placeholder="institution"
    required
  />
  <input
    type="text"
    name="description"
    id="tender_description"
    placeholder="description"
    required
  />
  <label for="start">Start of tender</label>
  <input
    type="datetime-local"
    name="start"
    id="tender_start_date"
    required
  />
  <label for="end">End of tender</label>
  <input type="datetime-local" name="end" id="tender_end_date" required />
  <input
    type="number"
    name="maxBudget"
    id="tender_max_budget"
    placeholder="max budget"
    required
  />
  <button type="submit">Add a tender</button>
</form>
<% if (typeof message != 'undefined') { %>
  <p><%= message %></p>
<% } %>
