<h3 class="py-2 text-center">Finished Tenders</h3>
<div class="col-12">
    <div class="col-12 col-sm-6 col-md-5 mx-auto">
    <% if (tenders.length > 0) { %>
        <table class="table">
            <thead>
                <th>Ordinal number</th>
                <th>Title</th>
            </thead>
            <% tenders.forEach((tender, index) => { %>
                <tr>
                    <td><%= index %></td>
                    <td><a href="/tenders/<%= tender.id  %>"><%= tender.name %></a></td>
                </tr>
            <% }) %>
            </table>
    <% } else { %> 
        <p class="alert alert-info text-center mx-auto col-md-9">There is no tenders right now</p>
    <%} %>
</div>
</div>