<h1>Finished Tenders</h1>
<% if (tenders.length > 0) { %>
    <table>
        <thead>
            <th>Ordinal number</th>
            <th>Title</th>
        </thead>
        <% tenders.forEach((tender, index) => { %>
            <tr>
                <td><%= index %></td>
                <td><a href="/tenders/<%= tender.id  %>"><%= tender.name %></a></td>
            </tr>
        <% }) %>
        </table>
<% } else { %> 
    <p>There is no tenders right now</p>
<%} %>
