<h3 class="py-2 text-center">Make a tender offer</h3>
<p class="col-md-6 mx-auto text-center">
  Our system allows you to add tenders as an institution and extend an offer. There will be avaible only offers that not exceed a maximum budget.
</h3>
