<!DOCTYPE html>
<html>
  <head>
    <title>Tender App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Make a tender offer</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/tenders">Current tenders</a></li>
        <li><a href="/tenders/finished">Finished tenders</a></li>
        <li><a href="/tenders/add">Add a tender</a></li>
      </ul>
    </nav>
    <main>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, maiores
      alias reprehenderit nemo iure excepturi architecto error ut! Esse, totam
      ad? Corrupti ratione placeat dignissimos fuga eum consequuntur vero
      excepturi.
    </main>
  </body>
</html>
