<header><h1>Make a tender offer</h1></header>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, maiores
  alias reprehenderit nemo iure excepturi architecto error ut! Esse, totam ad?
  Corrupti ratione placeat dignissimos fuga eum consequuntur vero excepturi.
</p>
