<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Tenders App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header><h1>Tender App</h1></header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/tenders">Current tenders</a></li>
        <li><a href="/tenders/finished">Finished tenders</a></li>
        <li><a href="/tenders/add">Add a tender</a></li>
      </ul>
    </nav>
    <main><%- body %></main>
  </body>
</html>
